In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [2]:
df = pd.read_csv('Twitter_Data.csv')[:5000]

In [3]:
df.sample(10)

                                             clean_text  category
779   his sons study good schools not convent though...       1.0
3763  its time for modi give humble walkover and lea...      -1.0
4021  modi fills the treasury and this comes empty a...      -1.0
3859  sir you are going won bigger margin than last ...       0.0
1554  highest growth lowest inflation under modi gov...       0.0
3858  well theyll cut the budget and arrange its the...      -1.0
4382  the shepherd’ son stirring lowercaste unrest m...       1.0
1973                 can help them teach them how code        0.0
3153  even after ruling india for time after indepen...       1.0
2860  isnt selling his soul unlike some people isnt ...       1.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   clean_text  4999 non-null   object
 1   category    5000 non-null   float64
dtypes: float64(1), object(1)
memory usage: 78.3+ KB

In [5]:
df.describe()

          category
count  5000.000000
mean      0.206400
std       0.773769
min      -1.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000

In [6]:
df.isnull().sum()

clean_text    1
category      0
dtype: int64

In [7]:
df.dropna(inplace=True)

In [11]:
vectorizer = TfidfVectorizer(max_features=5000)
X = vectorizer.fit_transform(df['clean_text'])
y = df['category']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [13]:
knn = KNeighborsClassifier(n_neighbors=5)

In [16]:
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)

C:\Users\ameyp\anaconda3\Lib\site-packages\joblib\externals\loky\backend\context.py:110: UserWarning: Could not find the number of physical cores for the following reason:
found 0 physical cores < 1
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "C:\Users\ameyp\anaconda3\Lib\site-packages\joblib\externals\loky\backend\context.py", line 217, in _count_physical_cores
    raise ValueError(

In [17]:
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:")
print(classification_report(y_test, y_pred))
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

Accuracy: 0.479
Classification Report:
              precision    recall  f1-score   support

        -1.0       0.65      0.12      0.20       202
         0.0       0.44      0.97      0.61       406
         1.0       0.80      0.16      0.27       392

    accuracy                           0.48      1000
   macro avg       0.63      0.42      0.36      1000
weighted avg       0.62      0.48      0.39      1000

Confusion Matrix:
[[ 24 172   6]
 [  4 392  10]
 [  9 320  63]]

In [28]:
new_text = ["I love to Study "]
new_text_vectorized = vectorizer.transform(new_text)
predicted_sentiment = knn.predict(new_text_vectorized)
print("Predicted Sentiment:", predicted_sentiment)

Predicted Sentiment: [1.]

In [22]:
new_text = ["I hate Ganesh"]
new_text_vectorized = vectorizer.transform(new_text)
predicted_sentiment = knn.predict(new_text_vectorized)
print("Predicted Sentiment:", predicted_sentiment)

Predicted Sentiment: [-1.]